In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
    library(googlesheets)
}))

In [2]:
gs_token <- "/home/users/ytanigaw/.googlesheets_token.rds"
gs_auth(token = gs_token)

Auto-refreshing stale OAuth token.

In [3]:
# input
ST_sheet <- 'https://docs.google.com/spreadsheets/d/1j8q1Y7wnMg9nWUm0iT4wJvFfg_hgIXbrtvxelqWHeH4' 

phe_info_f <- 'biomarker.phenotype.info.tsv'
phe_f <- '/oak/stanford/groups/mrivas/projects/biomarkers/covariate_corrected/outputExtendedNoTDIreduced/phenotypes/combined.20190810.phe'
gwas_covar_f <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20190809/ukb24983_GWAS_covar.20190809.phe'

# output
out_f <- 'number_check.tsv'

## Read the input

In [4]:
phe_info_df <- fread(phe_info_f) %>% rename('Phenotype'='name')

In [5]:
phe_df <- fread(
    phe_f, 
    select=c('FID', 'IID', phe_info_df %>% pull(annotation)), 
    colClasses=c('FID'='character', 'IID'='character')
)

In [6]:
gwas_covar_df <- fread(
    gwas_covar_f, select=c('FID', 'IID', 'population'), 
    colClasses=c('FID'='character', 'IID'='character')
) %>% drop_na(population)

## count N for each phenotype across population

In [7]:
phe_pop_df <- gwas_covar_df %>% left_join(phe_df)

Joining, by = c("FID", "IID")

In [8]:
non_NA_phe_cnt <- phe_info_df %>% pull(annotation) %>% lapply(function(phe){
    phe_pop_df %>% select(population, phe) %>% drop_na(phe) %>% count(population) %>%
    mutate(phenotype = phe)
}) %>% bind_rows() %>% spread(population, n) %>%
select(phenotype, white_british, non_british_white, african, s_asian, e_asian)

Note: Using an external vector in selections is ambiguous.
ℹ Use `all_of(phe)` instead of `phe` to silence this message.
ℹ See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

## Number of associations

In [22]:
suppressMessages(suppressWarnings({
    PTV_hits <- ST_sheet %>% gs_url() %>%
    gs_read(ws = 'ST6') %>% mutate(var_category='PTVs') %>%
    rename('Phenotype'='Trait')

    PAV_hits <- ST_sheet %>% gs_url() %>%
    gs_read(ws = 'ST7') %>% mutate(var_category='PAVs') %>%
    rename('Phenotype'='Trait')

    non_coding_hits <- ST_sheet %>% gs_url() %>%
    gs_read(ws = 'ST8') %>% mutate(var_category='non-coding') %>%
    rename('Phenotype'='Trait')

    HLA_hits <- ST_sheet %>% gs_url() %>%
    gs_read(ws = 'ST9') %>% mutate(var_category='HLA')

    CNV_hits <- ST_sheet %>% gs_url() %>%
    gs_read(ws = 'ST10') %>%
    mutate(var_category=if_else(Class == 'Single', 'CNV_single', 'CNV_burden')) %>%
    rename('Phenotype'='Trait')
}))

In [36]:
hits_combined_df <- bind_rows(PTV_hits, PAV_hits, non_coding_hits) %>%
bind_rows(
    HLA_hits %>%
    rename('ID'='HLA Allele', 'BETA' = 'PLINK Beta', 'P' = 'PLINK P'),

    CNV_hits %>%
    rename('ID'='MarkerName', 'BETA' = 'Effect', 'P' = 'P-value')
)

In [38]:
counts_all_df <- hits_combined_df %>%
select(ID, Phenotype, BETA, P, var_category) %>%
count(var_category, Phenotype) %>%
spread(var_category, n, fill=0) %>%
arrange(Phenotype) %>%
select(Phenotype, PTVs, PAVs, `non-coding`, HLA, CNV_single, CNV_burden)

In [43]:
count_full_df <- phe_info_df %>%
left_join(
    non_NA_phe_cnt, by=c('annotation'='phenotype')
) %>%
left_join(
    counts_all_df, by='Phenotype'
) %>%
arrange(Phenotype) %>%
mutate(
    meta_N = white_british + non_british_white + african + s_asian,
    N = meta_N + s_asian,
    n_loci = PTVs + PAVs + `non-coding`
)

## save the results to a file

In [46]:
count_full_df %>%
select(
    Phenotype, Abbreviation, 'Units of measurement', 
    'UKBB field ID', 'Statin adjustment', 'Trait category', 'GBE ID', 
    'N', 'white_british', 'non_british_white', 'african', 's_asian', 'e_asian', 'meta_N',
    'n_loci', 'PTVs', 'PAVs', 'non-coding', 'HLA', 'CNV_single', 'CNV_burden',
    'Color', 'GBE URL'
) %>%
fwrite(out_f, sep='\t', na = "NA", quote=F)

## total number of loci

In [49]:
hits_combined_df %>%
select(ID, var_category) %>%
unique() %>%
count(var_category)

  var_category n
1 CNV_burden     28
2 CNV_single     10
3 HLA            31
4 non-coding   5160
5 PAVs          594
6 PTVs           38

In [50]:
38 + 594 + 5160

[1] 5792

### Number of large-effect associations (BETA > .1 sd)

In [52]:
hits_combined_df %>%
filter(abs(BETA) > .1) %>%
select(ID, Phenotype, BETA, P, var_category) %>%
count(var_category, Phenotype) %>%
spread(var_category, n, fill=0) %>%
arrange(Phenotype) %>%
select(Phenotype, PTVs, PAVs, `non-coding`, CNV_single, CNV_burden)

   Phenotype                  PTVs PAVs non-coding CNV_single CNV_burden
1  Alanine aminotransferase   0     8    2         0          0
2  Albumin                    0     7    6         0          1
3  Alkaline phosphatase       3    30   37         0          3
4  Apolipoprotein A           3    27   25         0          1
5  Apolipoprotein B           1    32   60         0          0
6  Aspartate aminotransferase 0     7    4         1          0
7  AST to ALT ratio           0    11    1         0          0
8  C reactive protein         0     0    0         1          0
9  C-reactive protein         0     7   33         0          0
10 Calcium                    0     9    4         0          0
11 Cholesterol                0    29   39         0          0
12 Creatinine                 2    11    1         0          2
13 Cystatin C                 1     8   21         2          7
14 Direct bilirubin           3    14   52         1          2
15 eGFR                       2    10    1         0          2
16 Gamma glutamyltransferase  3     6   12         0          1
17 Glucose                    0     5    5         0          0
18 Glycated haemoglobin HbA1c 0     0    0         1          2
19 HbA1c                      1    13   10         0          0
20 HDL cholesterol            5    32   22         0          2
21 IGF                        0     0    0         1          0
22 IGF-1                      1    11    3         0          0
23 LDL cholesterol            0    28   49         0          0
24 Lipoprotein A              4    22   78         0          0
25 Microalbumin in urine      1     2    0         0          0
26 Non albumin protein        0     0    0         1          3
27 Non-albumin protein        1     6    9         0          0
28 Phosphate                  0     8    6         0          0
29 SHBG                       0    14   20         0          0
30 Sodium in urine            0     1    1         1          0
31 Testosterone               1     3    4         0          0
32 Total bilirubin            3    19   59         1          1
33 Total protein              0     7    8         0          2
34 Triglycerides              4    16   17         0          0
35 Urate                      3    14   49         1          1
36 Urea                       0     3    2         0          1
37 Vitamin D                  3     2    8         0          1

In [53]:
hits_combined_df %>%
filter(abs(BETA) > .1) %>%
count(var_category)

  var_category n
1 CNV_burden    32
2 CNV_single    11
3 non-coding   648
4 PAVs         422
5 PTVs          45

In [54]:
45 + 422+ 648 + 0 + 11 + 32

[1] 1158

In [60]:
hits_combined_df %>%
filter(MAF < 0.01) %>%
select(ID, var_category) %>%
unique() %>%
count(var_category)

  var_category n
1 non-coding    75
2 PAVs         192
3 PTVs          28

In [63]:
hits_combined_df %>%
filter(var_category == "HLA") %>%
select(ID) %>%
unique() %>%
dim()

[1] 31  1

In [68]:
hits_combined_df %>%
filter(var_category == "CNV_single") %>%
select(ID) %>%
unique() %>%
dim()

[1] 10  1

In [69]:
hits_combined_df %>%
filter(var_category == "CNV_burden") %>%
select(ID) %>%
unique() %>%
dim()

[1] 28  1