In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
# output file
out_f <- 'fuji.input.tsv'

# input file/dir
in_d <- '@@@@@@/users/ytanigaw/repos/rivas-lab/biomarkers/cascade/out_v3'

In [3]:
dfs <- list()
for(vtype in c('PTVs', 'PAVs', 'nc')){
    dfs[[vtype]] <- fread(file.path(in_d, sprintf('cascade.%s.tsv', vtype))) %>% rename('CHROM'='#CHROM')
}

In [4]:
df <- bind_rows(
    dfs[['PTVs']] %>% mutate(Csq='PTVs'),
    dfs[['PAVs']] %>% mutate(Csq='PAVs')
) %>%
filter(is_outside_of_MHC) %>%
select(CHROM, POS, ID, trait, Gene_symbol, BETA, MAF, Csq, is_outside_of_MHC) %>%
bind_rows(
    dfs[['nc']] %>% filter(is_outside_of_MHC) %>%
    replace_na(list(Gene_symbol=''))%>%
    select(CHROM, POS, ID, trait, BETA, MAF, is_outside_of_MHC) %>%
    mutate(Gene_symbol='', Csq='nc')
)

In [5]:
df %>% colnames()

[1] "CHROM"             "POS"               "ID"
[4] "trait"             "Gene_symbol"       "BETA"
[7] "MAF"               "Csq"               "is_outside_of_MHC"

### the number of associations

In [6]:
df %>% 
mutate(is_rare = if_else(MAF < 0.01, 'rare', 'non_rare')) %>%
count(is_outside_of_MHC, Csq, is_rare) %>%
spread(is_rare, n, fill=0) %>%
mutate(n = rare + non_rare)

  is_outside_of_MHC Csq  non_rare rare n
1 TRUE              nc   9001     116  9117
2 TRUE              PAVs 1017     306  1323
3 TRUE              PTVs   15      43    58

In [11]:
df %>% 
filter(abs(BETA) > .1) %>%
mutate(
    is_rare = if_else(MAF < 0.01, 'rare', 'non_rare'),
    sign = if_else(BETA > 0, '+', '-')
) %>%
count(is_outside_of_MHC, Csq, sign, is_rare) %>%
spread(is_rare, n, fill=0) %>%
mutate(n = rare + non_rare)

  is_outside_of_MHC Csq  sign non_rare rare n
1 TRUE              nc   -    298       41  339
2 TRUE              nc   +    263       46  309
3 TRUE              PAVs -     79      161  240
4 TRUE              PAVs +     57      125  182
5 TRUE              PTVs -      2       17   19
6 TRUE              PTVs +      2       24   26

### the number of variants

In [10]:
df %>% 
select(CHROM, POS, ID, MAF, Csq, is_outside_of_MHC) %>%
unique() %>% 
mutate(is_rare = if_else(MAF < 0.01, 'rare', 'non_rare')) %>%
count(is_outside_of_MHC, Csq, is_rare) %>%
spread(is_rare, n, fill=0) %>%
mutate(n = rare + non_rare)

  is_outside_of_MHC Csq  non_rare rare n
1 TRUE              nc   5087      75  5162
2 TRUE              PAVs  402     192   594
3 TRUE              PTVs   10      28    38

In [13]:
df %>% 
filter(abs(BETA) > .1) %>%
select(CHROM, POS, ID, MAF, Csq, is_outside_of_MHC) %>%
unique() %>% 
mutate(
    is_rare = if_else(MAF < 0.01, 'rare', 'non_rare'),
) %>%
count(is_outside_of_MHC, Csq, is_rare) %>%
spread(is_rare, n, fill=0) %>%
mutate(n = rare + non_rare)

  is_outside_of_MHC Csq  non_rare rare n
1 TRUE              nc   382       59  441
2 TRUE              PAVs  62      179  241
3 TRUE              PTVs   4       27   31

In [14]:
df %>% count(trait)

   trait                      n
1  Alanine aminotransferase   189
2  Albumin                    202
3  Alkaline phosphatase       715
4  Apolipoprotein A           454
5  Apolipoprotein B           593
6  Aspartate aminotransferase 265
7  AST to ALT ratio           226
8  C-reactive protein         351
9  Calcium                    208
10 Cholesterol                596
11 Creatinine                 359
12 Creatinine in urine          7
13 Cystatin C                 360
14 Direct bilirubin           206
15 eGFR                       349
16 Gamma glutamyltransferase  424
17 Glucose                    121
18 HbA1c                      470
19 HDL cholesterol            519
20 IGF-1                      459
21 LDL cholesterol            563
22 Lipoprotein A              194
23 Microalbumin in urine        6
24 Non-albumin protein        336
25 Phosphate                  188
26 Potassium in urine           1
27 SHBG                       415
28 Sodium in urine             15
29 Testosterone               113
30 Total bilirubin            260
31 Total protein              239
32 Triglycerides              424
33 Urate                      363
34 Urea                       166
35 Vitamin D                  142